# MongoDB Connection String (Gunakan MongoDB Atlas untuk deployment Vercel)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/kas_db?retryWrites=true&w=majority

# JWT Secret untuk otentikasi Admin
JWT_SECRET=super_secret_jwt_key_kas_app_2026

# Port untuk local development backend
PORT=5000
